.cards {
    background: linear-gradient(104.31deg, #8f00ff 0%, #fe3ac9 100%);
    border-radius: 10px;
    padding: 10px;
    color: white;
    margin-bottom: 20px;
  }
  
  .justify-content-around {
    margin-top: 10px !important;
  }
  
  .input-card {
    margin-right: 15px;
    padding: 8px;
    width: 80%;
    border-radius: 20px;
    border: none;
    text-indent: 10px;
    font-size: 14px;
  }
  
  .w-6 {
    font-weight: 600;
  }
  
  .w-10 {
    width: 100%;
  }
  
  .mw {
    margin-right: 15px;
    width: 12%;
    align-self: center;
  }
  
  .ml-12 {
    margin-left: 12px;
  }
  .mt-10 {
    margin-top: 10px;
  }
  
  .material-icons {
    margin-top: 6px;
  }
  